body {
	background-color: #e9ecef;
}


h1 {
  text-align: center;
}

#Breck {
	padding-right: 20px;
}

#A-Basin {
	padding-right: 20px;
}

#slopescope {
  width: 100px;
}

#A-BasinMap {
  width: 400px;
}

#BreckMap {
  width: 400px;
}
