body {
	font-family: verdana;
	background-color: #333 !important;
	height: 100%;
}

header {
	padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

h3 {
	font-size: 28px !important;
}

#header-logo {
	max-width: 300px; 
	max-height: 300px; 
	margin-top:-70px
}

#about {
	font-size: 18px;
}

#contact {
	text-align: center;
}

#img-demo {
	padding: 15px;
}

