<head>
  <link rel= "stylesheet" type = "text/css" href =
  "{{url_for('static', filename = 'stylesheets/styles.css')}}">
</head>
<body>
  <h1>Slope Scope</h1>
    <img id="slopescope" src="{{url_for('static', filename='SlopeScopeLogo.png')}}" />
  <div id="A-Basin">
    <h3>Arapahoe Basin</h3>
    <img id="A-BasinMap" src="{{url_for('static', filename='ABasinTrailMap.png')}}" />
    <p>Base Depth: {{base}}</p>
  </div>
  <div id="Breck">
    <h3>Breckenridge</h3>
        <img id="A-BasinMap" src="{{url_for('static', filename='BreckTrailMap.png')}}" />
  </div>
</body>
